<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aplikacija</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Početna</a></li>
            <li><a href="/onama">O nama</a></li>
            <li><a href="/usluge">Usluge</a></li>


        </ul>
    </nav>
    
    <h1> Usluge</h1>
    <ul>
        <li>graficki dizajn</li>
        <li>web dizajn</li>
        <li>programiranje</li>
    </ul>
    
</body>
</html>